.group {
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  width: 500px;
}

.button {
  background-color: #ffffff;
  border: 1px solid #dfe5ec;
  flex-grow: 1;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: 600;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover,
  &:focus {
    background-color: #2196f3;
    transition: all 0.3s ease-in-out;
    color: #ffffff;
  }
}
