.group {
  height: 50px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.button {
  background-color: #ffffff;
  border: 1px solid #dfe5ec;

  cursor: pointer;

  &:first-of-type {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &:hover,
  &:focus {
    background-color: #2196f3;
    transition: all 0.3s ease-in-out;
  }
}
