body {
    margin: 0
}

#root {
    background-color: #F3F7FA;
    padding-top: 20px;

    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

* {
    box-sizing: border-box;
}